torch
einops==0.7.0
diffusers==0.27.2
transformers==4.38.2
k_diffusion==0.1.1.post1
safetensors==0.4.2
gradio==3.44.4
timm==0.9.16
basicsr==1.4.2
controlnet-aux==0.0.7
mediapipe==0.10.11
kaleido==0.2.1
insightface==0.7.3
onnxruntime-gpu
peft
